.footer {
  align-items: center;
  width: 100vw;
  margin-bottom: 60px;
  > .imgs {
    width: 100%;
    > .img {
      width: 40%;
      max-width: 300px;
      align-self: flex-end;
    }
  }
  > .container {
    position: absolute;
    justify-content: flex-end;
    max-width: 1000px;
    width: calc(100% - 60px);
    height: 100%;
    > .copyright {
      bottom: 30px;
      align-self: center;
      text-align: center;
    }
  }
}