.contact {
  padding-top: 80px;
  > .block-01 {
    overflow: visible;
    > .container {
      flex-direction: row;
      @media only screen and (max-width: 690px) {
        flex-direction: column;
      }
      > .left {
        width: 50%;
        min-height: 400px;
        align-items: center;
        justify-content: center;
        z-index: 10;
        @media only screen and (max-width: 690px) {
          width: 100%;
          min-height: 300px;
        }
        > .title {
          > p {
            font-size: 80px;
            font-family: Noteworthy;
            @media only screen and (max-width: 1000px) {
              font-size: 60px;
            }
          }
        }
        > .sub-title {
          margin-top: 20px;
          > p {
            text-align: center;
            font-size: 25px;
            font-family: Noteworthy;
            @media only screen and (max-width: 1000px) {
              font-size: 20px;
            }
          }
        }
        > .contact-items {
          margin-top: 30px;
        }
      }
      > .right {
        width: 50%;
        justify-content: center;
        @media only screen and (max-width: 690px) {
          width: 100%;
        }
        > .message {
          > .row {
            flex-direction: row;
            margin-top: 10px;
            > .col {
              flex: 1;
              padding: 0 5px;
              min-width: 0;
              > .button {
                align-self: flex-end;
              }
            }
          }
        }
      }
    }
  }
}
