@import "../../common/styles/colors";

.home {
  min-height: 100vh;
  > .block-01 {
    padding-top: 80px;
    background: no-repeat;
    background-size: contain;
    > .imgs {
      > .img-01 {
        align-self: flex-end;
        left: 50px;
        width: 60%;
        max-width: 800px;
        @media only screen and (min-width: 1500px) {
          align-self: flex-start;
          left: 50%;
        }
        @media only screen and (max-width: 690px) {
          width: 70%;
        }
        @media only screen and (max-width: 500px) {
          width: 80%;
        }
      }
      > .img-02 {
        width: 40%;
        margin: 0 auto;
        margin-top: -100px;
        max-width: 480px;
        @media only screen and (max-width: 690px) {
          margin-top: 0;
          width: 50%;
        }
        @media only screen and (max-width: 500px) {
          margin-top: 80px;
          width: 60%;
        }
        @media only screen and (max-width: 400px) {
          margin-top: 160px;
        }
      }
    }
    > .container {
      position: absolute;
      top: 0;
      height: 100%;
      > .title-container {
        top: 30%;
        align-items: flex-start;
        @media only screen and (max-width: 690px) {
          top: 40%;
        }
        @media only screen and (max-width: 690px) {
          top: 45%;
        }
        > .title > p {
          font-family: Noteworthy;
          font-size: 90px;
          @media only screen and (max-width: 900px) {
            font-size: 60px;
          }
          @media only screen and (max-width: 500px) {
            font-size: 50px;
          }
        }
        > .sub-title {
          margin-top: 5px;
          > p {
            font-family: Noteworthy;
            font-size: 40px;
            @media only screen and (max-width: 900px) {
              font-size: 25px;
            }
            @media only screen and (max-width: 500px) {
              font-size: 18px;
            }
          }
        }
        > .button {
          margin-top: 35px;
        }
      }
    }
  }
  > .wave {
    width: 100%;
    height: 10vw;
    background: no-repeat;
    background-size: cover;
  }
  > .block-02 {
    background: $green no-repeat top left;
    background-size: 700px;
    padding-top: 30px;
    @media only screen and (max-width: 690px) {
      padding-top: 90px;
      padding-bottom: 30px;
    }
    > .imgs {
      > .img-01 {
        align-self: flex-start;
        left: -60px;
        max-width: 800px;
        width: 60%;
        @media only screen and (min-width: 1500px) {
          left: calc(50% - 800px);
        }
        @media only screen and (max-width: 690px) {
          width: 70%;
        }
      }
      > .img-02 {
        align-self: flex-end;
        width: 40%;
        max-width: 500px;
        margin-top: -100px;
        @media only screen and (max-width: 690px) {
          margin-top: -30px;
        }
      }
    }
    > .container {
      position: absolute;
      top: 0;
      height: 100%;
      > .title-container {
        top: calc(15% + 30px);
        align-items: flex-end;
        @media only screen and (max-width: 690px) {
          top: calc(10% + 30px);
        }
        @media only screen and (max-width: 500px) {
          top: calc(5% + 30px);
        }
        > .title {
          align-items: flex-end;
          > p {
            font-family: Noteworthy;
            font-size: 60px;
            color: $base-bg;
            @media only screen and (max-width: 900px) {
              font-size: 50px;
            }
            @media only screen and (max-width: 690px) {
              font-size: 40px;
            }
            @media only screen and (max-width: 500px) {
              font-size: 30px;
            }
          }
        }
        > .sub-title {
          margin-top: 5px;
          > p {
            font-family: Noteworthy;
            font-size: 30px;
            color: $base-bg;
            @media only screen and (max-width: 900px) {
              font-size: 25px;
            }
            @media only screen and (max-width: 690px) {
              font-size: 20px;
            }
            @media only screen and (max-width: 500px) {
              font-size: 16px;
            }
          }
        }
        > .button {
          margin-top: 30px;
        }
      }
    }
  }
  > .block-03 > .container {
    padding: 150px 0;
  }
}
