.home {
  background-color: #f0eade;
  min-height: 100vh;
  padding-top: 80px;
  > .block {
    width: 100vw;
    overflow: hidden;
    align-items: center;
    > .container {
      max-width: 1000px;
      width: calc(100% - 60px);
    }
  }
  > .block-01 {
    > .imgs {
      width: 100%;
      > .img {
        position: relative;
      }
      > .img-01 {
        align-self: end;
        left: 50px;
        width: 60%;
        max-width: 800px;
        @media only screen and (max-width: 690px) {
          width: 70%;
        }
        @media only screen and (max-width: 500px) {
          width: 80%;
        }
      }
      > .img-02 {
        width: 40%;
        margin: 0 auto;
        margin-top: -100px;
        max-width: 480px;
        @media only screen and (max-width: 690px) {
          margin-top: 0;
          width: 50%;
        }
        @media only screen and (max-width: 500px) {
          margin-top: 80px;
          width: 60%;
        }
        @media only screen and (max-width: 400px) {
          margin-top: 160px;
        }
      }
    }
    > .container {
      position: absolute;
      top: 0;
      height: 100%;
      > .title-container {
        top: 30%;
        align-items: flex-start;
        @media only screen and (max-width: 690px) {
          top: 40%;
        }
        @media only screen and (max-width: 690px) {
          top: 45%;
        }
        > .title > p {
          font-family: Noteworthy;
          font-size: 90px;
          @media only screen and (max-width: 900px) {
            font-size: 60px;
          }
          @media only screen and (max-width: 500px) {
            font-size: 50px;
          }
        }
        > .sub-title {
          margin-top: 5px;
          > p {
            font-family: Noteworthy;
            font-size: 40px;
            @media only screen and (max-width: 900px) {
              font-size: 25px;
            }
            @media only screen and (max-width: 500px) {
              font-size: 18px;
            }
          }
        }
        > .btn {
          margin-top: 35px;
          justify-content: center;
          align-items: center;
          width: 110px;
          height: 40px;
          border-radius: 20px;
          background-color: #94b588;
          transition: background-color 0.15s;
          cursor: pointer;
          @media only screen and (max-width: 900px) {
            width: 90px;
            height: 30px;
            border-radius: 15px;
          }
          > p {
            color: white;
            @media only screen and (max-width: 900px) {
              font-size: 14px;
            }
            @media only screen and (max-width: 500px) {
              font-size: 12px;
            }
          }
        }
        > .btn:hover {
          background-color: #a9c89e;
        }
      }
    }
  }
}