@import "../../common/styles/colors";

a.active {
  color: $green !important;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  width: 100vw;
  height: 80px;
  transition: 0.15s;
  > .container {
    max-width: 1000px;
    width: calc(100% - 60px);
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    > .navs {
      flex-direction: row;
      > .nav {
        padding: 0 20px;
        cursor: pointer;
        > a {
          font-size: 18px;
          font-family: Noteworthy;
          transition: color 0.15s;
        }
      }
      > .nav:hover {
        > a {
          color: #777;
        }
      }
      @media only screen and (max-width: 690px) {
        display: none;
      }
    }
    > .mobile {
      display: none;
      width: 100%;
      @media only screen and (max-width: 690px) {
        display: flex;
      }
      > .menu {
        width: 40px;
        align-self: flex-end;
        cursor: pointer;
        transition: 0.15s;
        > img {
          width: 100%;
        }
      }
      > .menu.rotate {
        transform: rotate(90deg);
      }
    }
  }

  > .mobile-menu-items {
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    background-color: $base-bg;
    overflow: hidden;
    transition: 0.15s;
    > .container {
      height: 320px;
      padding: 0 30px;
      > .item {
        justify-content: center;
        height: 80px;
        border-bottom: $dark 1px solid;
        > a {
          font-family: Noteworthy;
          font-size: 20px;
        }
      }
    }
  }

  > .mobile-menu-items.show {
    height: calc(100vh - 80px);
  }
}

.header.white > .container > .navs > .nav > a {
  color: white;
}

.header.shadow {
  background-color: $base-bg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  > .container > .navs > .nav > a {
    color: $dark;
  }
}

.header.show-menu {
  background-color: $base-bg;
}
